@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CalendarNumerals";
  src: url("/CalendarNumerals.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-outline-white {
    color: black;
    text-shadow: 
      -1px 0 0 white, 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white,
      -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
}

.pixel-corners-10px,
.pixel-corners-10px--wrapper {
  clip-path: polygon(0px calc(100% - 7px),
      1px calc(100% - 7px),
      1px calc(100% - 5px),
      2px calc(100% - 5px),
      2px calc(100% - 3px),
      3px calc(100% - 3px),
      3px calc(100% - 2px),
      5px calc(100% - 2px),
      5px calc(100% - 1px),
      7px calc(100% - 1px),
      7px 100%,
      calc(100% - 7px) 100%,
      calc(100% - 7px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 7px),
      100% calc(100% - 7px),
      100% 7px,
      calc(100% - 1px) 7px,
      calc(100% - 1px) 5px,
      calc(100% - 2px) 5px,
      calc(100% - 2px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 2px,
      calc(100% - 5px) 2px,
      calc(100% - 5px) 1px,
      calc(100% - 7px) 1px,
      calc(100% - 7px) 0px,
      7px 0px,
      7px 1px,
      5px 1px,
      5px 2px,
      3px 2px,
      3px 3px,
      2px 3px,
      2px 5px,
      1px 5px,
      1px 7px,
      0px 7px);
  position: relative;
}

.pixel-corners-10px {
  border: 1px solid transparent;
}

.pixel-corners-10px--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners-10px--wrapper .pixel-corners-10px {
  display: block;
  clip-path: polygon(1px 7px,
      2px 7px,
      2px 5px,
      3px 5px,
      3px 3px,
      5px 3px,
      5px 2px,
      7px 2px,
      7px 1px,
      calc(100% - 7px) 1px,
      calc(100% - 7px) 2px,
      calc(100% - 5px) 2px,
      calc(100% - 5px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 5px,
      calc(100% - 2px) 5px,
      calc(100% - 2px) 7px,
      calc(100% - 1px) 7px,
      calc(100% - 1px) calc(100% - 7px),
      calc(100% - 2px) calc(100% - 7px),
      calc(100% - 2px) calc(100% - 5px),
      calc(100% - 3px) calc(100% - 5px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 5px) calc(100% - 3px),
      calc(100% - 5px) calc(100% - 2px),
      calc(100% - 7px) calc(100% - 2px),
      calc(100% - 7px) calc(100% - 1px),
      7px calc(100% - 1px),
      7px calc(100% - 2px),
      5px calc(100% - 2px),
      5px calc(100% - 3px),
      3px calc(100% - 3px),
      3px calc(100% - 5px),
      2px calc(100% - 5px),
      2px calc(100% - 7px),
      1px calc(100% - 7px));
}

.pixel-corners-10px::after,
.pixel-corners-10px--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 7px),
      1px calc(100% - 7px),
      1px calc(100% - 5px),
      2px calc(100% - 5px),
      2px calc(100% - 3px),
      3px calc(100% - 3px),
      3px calc(100% - 2px),
      5px calc(100% - 2px),
      5px calc(100% - 1px),
      7px calc(100% - 1px),
      7px 100%,
      calc(100% - 7px) 100%,
      calc(100% - 7px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 1px),
      calc(100% - 5px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 5px),
      calc(100% - 1px) calc(100% - 7px),
      100% calc(100% - 7px),
      100% 7px,
      calc(100% - 1px) 7px,
      calc(100% - 1px) 5px,
      calc(100% - 2px) 5px,
      calc(100% - 2px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 2px,
      calc(100% - 5px) 2px,
      calc(100% - 5px) 1px,
      calc(100% - 7px) 1px,
      calc(100% - 7px) 0px,
      7px 0px,
      7px 1px,
      5px 1px,
      5px 2px,
      3px 2px,
      3px 3px,
      2px 3px,
      2px 5px,
      1px 5px,
      1px 7px,
      0px 7px,
      0px 50%,
      1px 50%,
      1px 7px,
      2px 7px,
      2px 5px,
      3px 5px,
      3px 3px,
      5px 3px,
      5px 2px,
      7px 2px,
      7px 1px,
      calc(100% - 7px) 1px,
      calc(100% - 7px) 2px,
      calc(100% - 5px) 2px,
      calc(100% - 5px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 5px,
      calc(100% - 2px) 5px,
      calc(100% - 2px) 7px,
      calc(100% - 1px) 7px,
      calc(100% - 1px) calc(100% - 7px),
      calc(100% - 2px) calc(100% - 7px),
      calc(100% - 2px) calc(100% - 5px),
      calc(100% - 3px) calc(100% - 5px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 5px) calc(100% - 3px),
      calc(100% - 5px) calc(100% - 2px),
      calc(100% - 7px) calc(100% - 2px),
      calc(100% - 7px) calc(100% - 1px),
      7px calc(100% - 1px),
      7px calc(100% - 2px),
      5px calc(100% - 2px),
      5px calc(100% - 3px),
      3px calc(100% - 3px),
      3px calc(100% - 5px),
      2px calc(100% - 5px),
      2px calc(100% - 7px),
      1px calc(100% - 7px),
      1px 50%,
      0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--pixel-corner-fill, #000000);
  display: block;
  pointer-events: none;
}

.pixel-corners-10px::after {
  margin: -1px;
}

.pixel-corners-5px,
.pixel-corners-5px--wrapper {
  clip-path: polygon(0px calc(100% - 3px),
      1px calc(100% - 3px),
      1px calc(100% - 2px),
      2px calc(100% - 1px),
      3px calc(100% - 1px),
      3px 100%,
      calc(100% - 3px) 100%,
      calc(100% - 3px) calc(100% - 1px),
      calc(100% - 2px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 2px),
      calc(100% - 1px) calc(100% - 3px),
      100% calc(100% - 3px),
      100% 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) 2px,
      calc(100% - 2px) 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 0px,
      3px 0px,
      3px 1px,
      2px 1px,
      1px 2px,
      1px 3px,
      0px 3px);
  position: relative;
}

.pixel-corners-5px {
  border: 1px solid transparent;
}

.pixel-corners-5px--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners-5px--wrapper .pixel-corners-5px {
  display: block;
  clip-path: polygon(1px 3px,
      2px 3px,
      2px 2px,
      3px 2px,
      3px 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 1px),
      3px calc(100% - 1px),
      3px calc(100% - 2px),
      2px calc(100% - 2px),
      2px calc(100% - 3px),
      1px calc(100% - 3px));
}

.pixel-corners-5px::after,
.pixel-corners-5px--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 3px),
      1px calc(100% - 3px),
      1px calc(100% - 2px),
      2px calc(100% - 1px),
      3px calc(100% - 1px),
      3px 100%,
      calc(100% - 3px) 100%,
      calc(100% - 3px) calc(100% - 1px),
      calc(100% - 2px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 2px),
      calc(100% - 1px) calc(100% - 3px),
      100% calc(100% - 3px),
      100% 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) 2px,
      calc(100% - 2px) 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 0px,
      3px 0px,
      3px 1px,
      2px 1px,
      1px 2px,
      1px 3px,
      0px 3px,
      0px 50%,
      1px 50%,
      1px 3px,
      2px 3px,
      2px 2px,
      3px 2px,
      3px 1px,
      calc(100% - 3px) 1px,
      calc(100% - 3px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 3px,
      calc(100% - 1px) 3px,
      calc(100% - 1px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 3px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 2px),
      calc(100% - 3px) calc(100% - 1px),
      3px calc(100% - 1px),
      3px calc(100% - 2px),
      2px calc(100% - 2px),
      2px calc(100% - 3px),
      1px calc(100% - 3px),
      1px 50%,
      0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--pixel-corner-fill, #000000);
  display: block;
  pointer-events: none;
}

.pixel-corners-5px::after {
  margin: -1px;
}

.pixel-corner-fill-white {
  --pixel-corner-fill: #fff;
}
